* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 40px;
  color: #111;
  min-width: 320px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 450px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  border: 1px solid #111;
}
form label {
  display: flex;
  gap: 20px;
}
